.characterEditor {
  padding-top: 32px;
  padding-bottom: 64px;

  isolation: isolate;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  height: 90vh;
}

.controlColumn {
    display: flex;
    position: absolute;
    top: calc(32px + 64px + 85vh);
    gap: 16px;
    overflow-x: scroll;
    margin-left: -32px;
    padding-inline: 32px;
    width: 100vw;
}

@media (min-width: 1024px) {
  .characterEditor {
    padding-top: 128px;
  }

  .header {
    width: 65%;
  }

  .controlColumn {
    width: 50%;
    gap: 32px;
    margin-left: 0;
    padding-inline: 0;
    flex-direction: column;
    position: static;
    overflow-x: initial;
  }

  .characterWrapper {
    position: fixed;
    left: 65%;
    top: 128px;
    min-height: 500px;
  }
}
